*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body {
    background-color: #e6e6e8;
}

header{
    background-color: white;
    height: 100px;
}
            /*---------------------navbar-------------------------*/

nav{
    display: flex;
    justify-content:space-around ;
    height: 30%;
    padding: 60px 0;

}

form{
    display: flex;
    padding: 1px;
    border: 1px solid #000;
    border-radius:15px
}

/*----search bar----*/
input[type="search"]{
    border: none;
    background: transparent;
    margin: 0;
    border: 1px solid transparent; 
    border-radius: inherit ;
}

input[type="search"]::placeholder {
  color: #bbb;
}

button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent url("img/search-line.svg") no-repeat center;

}

  /*----search bar----*/

            /*---------------------navbar-------------------------*/

            /*---------------------hero---------------------------*/

hero{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

hero > img {
    width: 300px;
    padding: 20px 0 40px;}

hero > p {
    padding: 0 25px;
    text-align: center;
}
            /*---------------------hero---------------------------*/

  
